.footer {
    padding-top: 80px;

    &__heading {
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
        position: relative;
        padding-bottom: 5px;
        margin-bottom: 30px;
        text-transform: uppercase;

        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            width: 18%;
            left: 0;
            right: 0;
            margin: 0 auto;
            height: 2px;
            background-color: $text-gray;
        }
    }

    &__position {
        padding-bottom: 30px;
        border-bottom: 1px solid $border-search;

        .row {
            counter-reset: paginate-counter 0;
        }

        &-name {
            text-transform: uppercase;
            color: $back-white;
            background-color: $main-color;
            padding: 7px 7px 7px 42px;
            font-size: 1.5rem;
            border-radius: 5px;
            position: relative;

            &:after {
                position: absolute;
                counter-increment: paginate-counter;
                content: counter(paginate-counter);
                top: 0;
                left: 0;
                border-radius: 5px;
                background-color: $main-color;
                padding: 8px 12px;
                @include flexBox(hor);
                height: 100%;
            }
        }

        &-content {
            margin-bottom: 50px;
            padding-top: 6px;

            &>div {
                line-height: 18px;
                margin-top: 10px;
                display: flex;
                align-items: flex-start;
                font-size: 1.3rem;

                &>svg {
                    margin: 4px 10px 0 0;
                }
            }
        }

        &-address {
            font-weight: bold;
        }

        &-map {
            color: $main-color;
        }
    }

    &__introduce {
        background-color: $background-header;

        &-heading {
            font-weight: bold;
            padding-bottom: 10px;
            position: relative;
            text-transform: uppercase;

            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                height: 2px;
                width: 26%;
                background-color: $main-color;
            }
        }

        &-item {
            padding: 50px 0;
        }

        &-nav {
            margin-top: 15px;

            .nav-link {
                font-size: 1.4rem;
                padding-left: 0;
                padding-right: 56px;
                opacity: 0.8;
                color: $text-gray;
                line-height: 20px;
            }

            .nav-item>img {
                margin-top: 10px;
            }
        }

        &-info {
            padding: 26px 0 20px;
            color: $back-white;
            background-color: $main-color;

            p,
            span {
                font-size: 1.4rem;
                display: block;
                margin-bottom: 12px;
            }
        }
    }
}