.header {
    transition: all 0.3s ease;
    background-color: $background-header;

    &__img {
        width: 100%;
        max-height: 120px;
    }

    &__interest {
        padding: 12px 0;
        @include flexBox(hor);
        justify-content: space-between;


        &-contact {
            @include flexBox(hor);
        }

        &-contact {
            &-details {
                margin-left: 12px;
            }

            &>svg {
                margin-top: 2px;
                width: 25px;
                height: 28px;
            }

            &-text {
                margin-bottom: 2px;
                font-size: 1rem;
            }

            &-phone {
                font-weight: 700;
            }
        }

        &-acc {
            font-size: 1.4rem;

            &-wrapper {
                @include flexBox(hor);

                &>div {
                    cursor: pointer;
                    padding: 1px 10px;
                    font-weight: bold;

                    &:hover {
                        color: $main-color;
                    }

                    &:first-child {
                        border-right: 1.4px solid $text-gray;
                    }
                }
            }

        }

        &-logIn {
            @include flexBox(hor);
            padding-bottom: 4px;
            display: none;

            &-name {
                font-size: 1.4rem;

                .logIn-fullName {
                    margin-top: 3px;
                    display: block;
                    font-weight: bold;
                }
            }

            &-menu {
                border-radius: 6px;
                // top: 5px !important;
                min-width: 140px;
                font-size: 1.5rem;

                a {
                    line-height: 20px;
                    padding: 8px 20px;

                    &:hover {
                        background-color: $border-orange;
                        color: $back-white;
                    }
                }
            }

            &>svg {
                margin-right: 10px;
            }

        }
    }

    &__wrapper {
        background-color: $back-white;
        padding: 24px 0 34px;
        border-bottom: 1.2px solid $border-search;
    }

    &__main {
        @include flexBox(hor);
        justify-content: space-around;

        &-logo {
            height: 43px;
        }

        &-search {
            margin-left: 40px;
            min-width: 40%;
            padding: 5px;
            border-radius: 5px;
            border: 2px solid $border-search;

            input {
                font-size: 1.6rem;
                padding: 8px 15px;
                margin-right: 4px;
                border: 0;

                &::placeholder {
                    color: $text-search;
                }

                &:focus {
                    box-shadow: none;
                }
            }

            button {
                @include flexBox(hor);
                color: $back-white;
                padding: 4px 26px;
                font-size: 1.6rem;

                border: 0;
                border-radius: 5px !important;
                background-image: $color-mix;

                &>svg {
                    margin-top: 2px;
                    margin-right: 6px;
                }
            }
        }
    }

    &__btn {
        @include flexBox(hor);
        font-size: 1.6rem;
        border-radius: 5px;
        border: 2px solid $main-color;
        margin-left: 20px;

        &-build {
            color: $text-gray;
            padding: 12px 24px;
        }

        &-cart {
            color: $text-gray;
            padding: 12px 20px;

            &-quantity {
                position: relative;
                @include flexBox(hor);

                &>svg {
                    margin-right: 5px;
                }

                &>span {
                    color: $back-white;
                    padding: 1px 6px;
                    background-color: $main-color;
                    border-radius: 50%;
                }
            }
        }

        &-cart-quantity,
        &>svg {
            margin-right: 15px;
        }
    }

    &__nav {
        padding: 3px 0;
        background-color: $back-white;
        border-bottom: 1.2px solid $border-search;

        &-wrapper {
            @include flexBox(hor);
            justify-content: space-between;
            min-height: 55px;

            .nav-item {
                margin-left: 54px;

                &:first-child {
                    margin: 0 10px 0 40px;
                }
            }
        }

        &-menu {
            line-height: 22px;
            @include flexBox(hor);

            &>i {
                font-size: 1.8rem;
                padding: 3px 5px 1px;
                margin: 2px 0 0 20px;

                color: $back-white;
                border-radius: 50%;
                background-color: $color-items;
            }

            &.child {
                cursor: pointer;
                position: relative;

                &:hover .banner__category {
                    display: block;
                }

                .banner__category {
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                    position: absolute;
                    top: calc(100% + 20px);
                    left: 50%;
                    width: 100%;
                    min-width: 278px;
                    transform: translateX(-50%);
                    display: none;
                    z-index: 10;

                    &::after {
                        position: absolute;
                        content: "";
                        top: -30px;
                        left: 0;
                        width: 100%;
                        height: 40px;
                    }
                }
            }
        }

        &-warrant {
            @include flexBox(hor);
            padding: 15px 29px;
            color: $back-white;

            border-radius: 5px;
            background-color: $color-items;

            &:hover {
                color: $back-white;
                opacity: 0.8;
            }

            &>svg {
                fill: $back-white;
                margin-right: 15px;
            }
        }

        &-link {
            position: relative;
            line-height: 24px;
            @include flexBox(hor);
            cursor: pointer;
            color: $text-gray;

            &:hover {
                color: $main-color;
            }

            &>i {
                margin-left: 10px;
            }
        }
    }

    &__scroll {
        transition: all 0.3s ease;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: $back-white;

        z-index: 99;
        display: none;
        -webkit-box-shadow: 1px 4px 5px #b3aeae;
        box-shadow: 1px 4px 5px #b3aeae;
        min-width: 1240px;

        &-wrapper {
            width: 100%;
            @include flexBox(hor);
            justify-content: space-evenly;

            .header__main-search {
                min-width: 57%;
            }
        }
    }

    &__fixed {
        height: 80px;
        @include flexBox(both);

        .nav .header__nav-menu {
            justify-content: center;
            min-width: 280px;
            cursor: pointer;
            font-weight: 500;
            position: relative;

            &:hover .banner__category {
                display: block;
            }

            .banner__category {
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                position: absolute;
                top: calc(100% + 28px);
                left: 50%;
                width: 100%;
                min-width: 278px;
                transform: translateX(-50%);
                display: none;

                &::after {
                    position: absolute;
                    content: "";
                    top: -30px;
                    left: 0;
                    width: 100%;
                    height: 40px;
                }
            }
        }
    }
}